

  p.text-center.mt-3.mb-3.text-success {
    font-size: 40px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-primary:focus{
  box-shadow: none;
}