<section class="sidemenu">
    <h4 class="block-title"><i class="fi fi-rr-diamond"></i> All Categories</h4>
    <div class="accordion" id="accordionExample">
      <ul class="list-unstyled">
        <li>
            <div class="accordion-item">
                <a class="accordion-header" id="headingOne">Accessories</a>
                  <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne" aria-expanded="false"></a>
                
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                        <li class="submenu">
                            <a href="">Bags &amp; Shoes</a>
                        </li>
                        <li class="submenu">
                            <a href="">Shoes Chid</a>
                        </li>
                        <li class="submenu">
                            <a href="">Short</a>
                        </li>
                        <li class="submenu">
                            <a href="">Watches</a>
                        </li>
                        <li  class="submenu">
                            <a href="">Watchess</a>
                        </li>
                    </ul>
                  </div>
                </div>
              </div> 
        </li>
       <li>
        <div class="accordion-item">
            <a class="accordion-header" id="headingTwo">Mens Clothing </a>
              <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> </a>
           
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                    <li class="submenu">
                        <a href="">Down Jackets</a>
                    </li>
                    <li class="submenu">
                        <a href="">Parkas</a>
                    </li>
                    <li class="submenu">
                        <a href="">Suits &amp; Blazer</a>
                    </li>
                    <li class="submenu">
                        <a href="">Trench</a>
                    </li>
                    <li class="submenu">
                        <a href="">Wool &amp; Blends</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
            <a href="">Jewelry</a>
        </li>
      <li>
        <div class="accordion-item">
          <a class="accordion-header" id="headingThree"> Fashion</a>
            <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> </a>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li class="submenu">
                        <a href="">Cargo Pants</a>
                    </li>
                    <li class="submenu">
                        <a href="">Casual Pants</a>
                    </li>
                    <li class="submenu">
                        <a href="">Harem Pants</a>
                    </li>
                    <li class="submenu">
                        <a href="">Sweatpants</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="">Maternity</a>
    </li>
    <li>
        <a href="">Smartphone</a>
    </li>
    <li>
        <a href="">Sport Clothing</a>
    </li>
    <li>
        <a href="">Best sellers</a>
    </li>
    <li>
        <a href="">Bath</a>
    </li>
    <li>
        <a href="">Garden</a>
    </li>
    <li>
        <a href="">Kitchen</a>
    </li>
    <li>
        <a href="">Publications</a>
    </li>
    <li>
        <a href="">Utility</a>
    </li>
    <li>
        <a href="">Daily Deals</a>
    </li>
    </ul>
</div>
</section>