
p.text-center.mt-3.mb-3.text-danger {
    font-size: 40px;
}
.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
  }
  .btn-danger:focus{
    box-shadow: none;
  }