<div class="container module sb-banner">
    <div class="block-content clearfix ">
<div class="banners">
<div class="banner-figure">
    <i class="fi fi-rs-document"></i>
</div>
<div class="banner-figcaption">
    <div class="banner-figcaption">
        <h5 class="banner-title"><a href="#">Free delivery</a></h5>
        <p class="banner-text">On order over $49.86</p>

    </div>
</div>
</div>
<div class="banners">
<div class="banner-figure">
    <i class="fi fi-rs-shield-check"></i>
</div>
<div class="banner-figcaption">
    <div class="banner-figcaption">
        <h5 class="banner-title"><a href="#">Order protecttion</a></h5>

        <p class="banner-text">Secured information</p>
    </div>
</div>
</div>
<div class="banners">
<div class="banner-figure">
    
    <i class="fi fi-rs-gift"></i>
</div>
<div class="banner-figcaption">
    <div class="banner-figcaption">
        <h5 class="banner-title"><a href="#">Promotion gift</a></h5>
        <p class="banner-text">Special offers!</p>
    </div>
</div>
</div>
        
        
<div class="banners">
<div class="banner-figure">
    
    <i class="fi fi-rs-money-bill-wave-alt"></i>
</div>

<div class="banner-figcaption">
    <div class="banner-figcaption">
        <h5 class="banner-title"><a href="#">Money back</a></h5>

        <p class="banner-text">Return over 30 days</p>

    </div>
</div>
</div>
        
        
<div class="banners">
<div class="banner-figure">
    
    <i class="fi fi-rs-life-ring"></i>
</div>

<div class="banner-figcaption">
    <div class="banner-figcaption">
        <h5 class="banner-title"><a href="#">Big Saving</a></h5>

        <p class="banner-text">Weeken Sales</p>

    </div>
</div>
</div>
        
</div>
</div>
