
<section class="latest-blog mt-5 mb-5">
    <div class="container">

       <h5 class="block-title"> <span>Latest Blogs</span></h5>

       <owl-carousel-o [options]="blogSlider">
                 
           <ng-template carouselSlide class="active">
               <div class="blogdtls">
                   <div class="blog-figure">
                     
                           <a href=""><img src="../../../assets/img/5.jpg" alt="category" class="img-fluid"></a>
                   </div>
                   <div class="blog-figcaption">
                       <div class="blog-body">
                           <h5 class="blog-title"><a href="">Divamus adipis cing nisl</a></h5>
                           <div class="blog-meta">
                               <span class="blog-author"><i class="fi fi-sr-user"></i>Catlyn </span>
                               <span class="blog-date"><i class="fi fi-rr-clock-three"></i>28th May 2018  </span>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>  
           <ng-template carouselSlide>
               <div class="blogdtls">
                   <div class="blog-figure">
                     

                           <a href=""><img src="../../../assets/img/6.jpg" alt="category" class="img-fluid"></a>
                   </div>
                   <div class="blog-figcaption">
                       <div class="blog-body">
                           <h5 class="blog-title"><a href="">Donec et libero nun</a></h5>
                           <div class="blog-meta">
                               <span class="blog-author"><i class="fi fi-sr-user"></i>Catlyn </span>
                               <span class="blog-date"><i class="fi fi-rr-clock-three"></i>28th May 2018  </span>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>                 
           <ng-template carouselSlide>
               <div class="blogdtls">
                   <div class="blog-figure">
                     

                           <a href=""><img src="../../../assets/img/15.jpg" alt="category" class="img-fluid"></a>
                   </div>
                   <div class="blog-figcaption">
                       <div class="blog-body">
                           <h5 class="blog-title"><a href="">Phase lluson sequat dolor</a></h5>
                           <div class="blog-meta">
                               <span class="blog-author"><i class="fi fi-sr-user"></i>Catlyn </span>
                               <span class="blog-date"><i class="fi fi-rr-clock-three"></i>28th May 2018  </span>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>   
           <ng-template carouselSlide>
               <div class="blogdtls">
                   <div class="blog-figure">
                     

                           <a href=""><img src="../../../assets/img/7.jpg" alt="category" class="img-fluid"></a>
                   </div>
                   <div class="blog-figcaption">
                       <div class="blog-body">
                           <h5 class="blog-title"><a href="">Phase lluson sequat dolor</a></h5>
                           <div class="blog-meta">
                               <span class="blog-author"><i class="fi fi-sr-user"></i>Catlyn </span>
                               <span class="blog-date"><i class="fi fi-rr-clock-three"></i>28th May 2018  </span>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>   
</owl-carousel-o>
    </div>
</section>
