<section class="footer-center bg-dark pt-5">
    <div class="footer-center__first">
        <div class="container">
            <div class="row">
                <article class="col-lg-3 col-md-4 col-12 col-sm-12 footer-info collapsed-block" data-section-type="storeInfo">
                    <h5 class="footer-info-heading">
                        Contact Us
                        <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                    </h5>
                     
                    
                    <div class="footer-info-list">
                    
                    <ul>
                        <li class="addres">
                            <i class="fi fi-rs-marker"></i>
                            <span>San Luis Potosí, Centro Historico, 78000 San Luis Potosí, SPL, Mexico</span>
                        </li>
                        <li class="phone">
                            <i class="fi fi-rr-phone-call"></i>
                            <span>(+0214)0 315 215</span>
                        </li>
                        <li class="email">
                            <i class="fi fi-rr-envelope"></i>
                            <span>Marketing&#64;MagenTech.Com</span>
                        </li>
                        <li class="time">
                            <i class="fi fi-rr-clock-three"></i>
                            <span>Open time: 8:00AM - 6:00PM</span>
                        </li>
                    </ul>
                    </div>
                </article>
                <article class="collapsed-block col-lg-2 col-md-3 col-6 col-sm-6" data-section-type="footer-webPages">
        <h5 class="footer-info-heading">
            Our Shops
            <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
        </h5>

<ul class="footer-info-list">
            <li class="list-item">

<a href="#">Product Support</a>
</li>

            <li class="list-item">

<a href="#">PCs Setup</a>
</li>

            <li class="list-item">

<a href="#">Services</a>
</li>

            <li class="list-item">

<a href="#">Conditions</a>
</li>

            <li class="list-item">

<a href="#">Privacy Policy</a>
</li>

            <li class="list-item">

<a href=" ">Return Exchange</a>
</li>

</ul>
                </article>
                <article class="col col-lg-2 col-md-3 col-6 col-sm-6 collapsed-block" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">
                        Information 
                        <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                    </h5>
                    <ul class="footer-info-list">
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/layout/">Layout</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/features/">Features</a>
                            </li>
                            <li>
                                <a href="http://sb-emarket.mybigcommerce.com/daily-deals/">Daily Deals</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/pages/">Pages</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/blog/">Blog</a>
                            </li>
                    </ul>
                </article>
                <article class="col col-lg-2 col-md-3 col-6 col-sm-6 collapsed-block" data-section-type="footer-categories">
                    <h5 class="footer-info-heading">
                        All Categories
                        <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                    </h5>
                    <ul class="footer-info-list">
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/accessories/">Accessories</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/bags/">Bags</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/computer/">Computer</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/fashion/">Fashion</a>
                            </li>
                            <li>
                                <a href="https://sb-emarket2.mybigcommerce.com/jewelry/">Jewelry</a>
                            </li>
                        <li>
                            <a href="/categories"><strong>View All</strong></a>
                        </li>
                    </ul>
                </article>
                <article class="colcol-lg-2 col-md-3 col-6 col-sm-6 collapsed-block" data-section-type="footer-instagram">
                     <div class="modules">
<h5 class="footer-info-heading">Instagram Gallery<span class="expander"><i class="fa fa-chevron-circle-down"></i></span></h5>
<div id="instafeed" class="sb-instagram-gallery row" data-clearing=""></div>
</div>

<script type="text/javascript" src="https://cdn11.bigcommerce.com/s-k23ll69lb2/stencil/b2bdd740-f55a-0136-cd58-019bb4f9f867/e/07804890-a842-013a-e2d6-0643599166bf/js/sbthemes/instagram.min.js"></script>
<script type="text/javascript" src="https://cdn11.bigcommerce.com/s-k23ll69lb2/stencil/b2bdd740-f55a-0136-cd58-019bb4f9f867/e/07804890-a842-013a-e2d6-0643599166bf/js/sbthemes/instafeed/instafeed.min.js"></script>
<script type="text/javascript">
// <![[
(function() {
    "use strict";
    var feed = new Instafeed({
        get: 'user',
        userId: '7441584291',
        clientId: '123',
        accessToken: '7441584291.1677ed0.643c27f05b38436cad8032a1fcf3a623',
        resolution: 'standard_resolution',
        template: '<div class="instagram-item col-4"><a href="{'+'{link}}" target="_blank" id="{'+'{id}}"><img class="card-image lazyload" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-k23ll69lb2/stencil/b2bdd740-f55a-0136-cd58-019bb4f9f867/e/07804890-a842-013a-e2d6-0643599166bf/img/loading.svg" data-src="{'+'{image}}" /></a></div>',
        sortBy: 'most-recent',
        limit: 5,
        links: false
    });
    feed.run();
})();
// ]]>
</script>
                </article>
                
                <div class="footer-newsletter d-flex  align-items-center col-12">
                    <div class="footer-newsletter__inner">
                            <div class="newsletter-block-title d-none d-xl-block d-lg-block">
                                <h2 class="footer-info-heading1">Signup For Newsletter</h2>
                                <p class="des d-none d-lg-block">We’ll never share your email address with a third-party.</p>
                                </div>
                                <form class="form newsletter-block-content" action="/subscribe.php" method="post">
                                <fieldset class="form-fieldset">
                                    <input type="hidden" name="action" value="subscribe">
                                    <input type="hidden" name="nl_first_name" value="bc">
                                    <input type="hidden" name="check" value="1">
                                    <div class="form-field">
                                        <label class="form-label is-srOnly" for="nl_email">Email Address</label>
                                        <div class="input-group justify-content-md-center">

                                            <input class="form-input form-control" id="nl_email" name="nl_email" type="email" value="" placeholder="Your email address">
                                            <div class="input-group-btn"> 
                                                <input class="btn btn-primary  button--primary " type="submit" value="Subscribe">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
</section>
<section class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="footer-copyright">
                <span class="powered-by">© 2024 Copyrights </span>
            </div>
        </div>
    </div>
</section>